.createRoomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.inputGroup {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.createButton {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.createButton:hover {
  background-color: #218838;
}
