.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #333;
}

.centerLinks {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navList {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navLink {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navLink:hover {
  color: #ffa500; /* Orange shade for hover */
}

.logoutButton {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  background-color: #ffa500;
  border-radius: 5px;
}

.logoutButton:hover {
  background-color: #ffb11f;
  color: white;
}
